version: 1.0.0
services: 
  app:
    build: ./
    context: ./
      dockerfile: Dockerfile
     container_name: app-container
     ports:
      - 5500:5500
  nginx:
    image: nginx:latest
    environment:
      YOUR_NAME: ${YOUR_NAME}
    build: ./
    context: ./docker_compose
      dockerfile: Dockerfile
     container_name: nginx-container
     volumes:
      - ./default.conf:/etc/nginx/conf .d/default.conf
     ports:
      - 80:80
     links:
      - app 
  
